<section>
    <div class="container">
      <h1>{{'STORIES_H1'|translate}}</h1>
        <div class="row" ng-repeat="story in $ctrl.stories">
          <story story="story" class="" />
        </div>
    </div>
    <script type="text/javascript">
    setTimeout(function(){
        console.log('helo')
        $('.card-share > a').on('click', function (e) {
            console.log('hello');
            e.preventDefault() // prevent default action - hash doesn't appear in url
            $(this).parent().find('div').toggleClass('social-reveal-active');
            $(this).toggleClass('share-expanded');
        });
    }, 4000);

    </script>

</section>
