<section >

  <div class="container">


    <div class="col-md-6" id="post-content">
    </div>

    <div class="col-md-6">
        <hr>
        <div class="socials">
          <span>{{'COMMON_SHARE_ON' | translate}} </span>  <a type="button" class="btn-floating btn-fb" socialshare
          socialshare-provider="facebook"
          socialshare-url="{{window.location.href}}"
          >
              <i class="fa fa-facebook"></i>
          </a>

        </div>
      <div class="chip" ng-repeat="tag in $ctrl.tagsName">
        <span style="font-size:8px">{{tag}}</span>
      </div>
        <hr>
      <div class="" id="map" style="height: 300px; width: 100%;">

    </div>


  </div>

  <script>
      $(document).ready(function() {
          $(function() {
              console.log('é')
              setTimeout(function(){
              var crazy = new FlatBox('.images', {
                changeSlideSpeed: 200
              });
            }, 3000);
          });
      })
  </script>
</section>
