<navbar user="$ctrl.user" />
<div class="wrapper">
    <ui-view></ui-view>
</div>
<!--Footer-->
<footer class="page-footer blue center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6 socials">
                <h5 class="title">Socials</h5>
                <ul>
                    <li><a href="#!">
                        <button type="button" class="btn btn-fb hds"><i class="fa fa-facebook left"></i> Facebook</button>
                        <button type="button" class="btn btn-fb hdsm"><i class="fa fa-facebook"></i></button>
                    </a></li>
                    <li><a href="#!">
                        <button type="button" class="btn btn-tw hds"><i class="fa fa-twitter left"></i> Twitter</button>
                        <button type="button" class="btn btn-tw hdsm"><i class="fa fa-twitter"></i></button>
                    </a></li>
                    <li><a href="#!">
                        <button type="button" class="btn btn-li hds"><i class="fa fa-linkedin left"></i> Linkedin</button>
                        <button type="button" class="btn btn-li hdsm"><i class="fa fa-linkedin"></i></button>
                    </a></li>
                    <li><a href="#!">
                        <button type="button" class="btn btn-yt hds"><i class="fa fa-youtube left"></i> Youtube</button>
                        <button type="button" class="btn btn-yt hdsm"><i class="fa fa-youtube"></i></button>

                    </a></li>
                    <li><a href="#!">
                        <button type="button" class="btn btn-git hds"><i class="fa fa-github left"></i> Github</button>
                        <button type="button" class="btn btn-git hdsm"><i class="fa fa-github"></i></button>
                    </a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Hadrien buret: <a href="https://www.vibesharing.com"> Vibesharing.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
