@import 'colors';
/* container */
app > .container {
    padding-bottom: 60px;
}
/* footer */
.page-footer {
    background-color: $primary-orange !important;
}
.footer > .container {
    padding: 15px;
}
.footer > .container > span > a,
.footer > .container > span > a:hover,
.footer > .container > span > a:visited {
    color: $white;
}
