.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hr-story-card {
  margin: 0 0 10px 0;
}

.card-block {
    padding: 10px;
}

.card-share-custom {
    text-align: right;
}
.col-no-padding {
    padding: 0;
     margin: 20px;
}

.btn-action-custom {
    top: -10px;
    right: 15px;
    margin: -23px 0px !important;
}
